.projectItem {
    cursor: pointer;
    transition: all 0.25s ease-out;
    text-decoration: none;
    min-height: 142px;
    height: 100%;
    border-radius: 8px;
    padding: 0;
    outline: none;
    color: var(--antiflash-white);
    padding: 15px 10px;
    position: relative;

    &:hover {
        background-color: var(--antiflash-white);
        color: var(--paynes-gray);

        & svg {
            display: block;
        }
    }

    & svg {
        display: none;
        width: 24px;
        position: absolute;
        top: 8px;
        right: 8px;
        transition: all 0.1s ease-out;

        & g > g > g {
            fill: var(--raisin-black);
        }

        &:hover {
            transform: scale(1.1);

            & g > g > g {
                fill: var(--raisin-black);
            }
        }
    }
}

.projectItem__sides {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 20px;
    align-items: flex-start;
    height: 100%;
}

.projectItem__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    text-align: left;
    height: 100%;
}

@media screen and (min-width: 1024px) {
    .projectItem__text > div:first-child {
        max-width: 200px;
    }
}

.projectItem__text h2 {
    font-size: 18px;
    margin-bottom: 4px;
}

.projectItem__text p {
    font-size: 13px;
}

.projectItem__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 8px;
    margin: auto;
    max-height: 120px;
}

.projectItem_tech {
    display: none;
    margin: 10px 0 0 0;
    padding: 0;
    display: flex;
    gap: 20px;
    list-style-type: none;
    color: var(--brown-sugar);
}

.projectItem_tech li {
    font-size: 11px;
    font-weight: 600;
}

@media screen and (max-width: 680px) {
    .projectItem_tech {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 6px;
    }

    .projectItem svg {
        display: block;
        width: 20px;
        top: 14px;
        right: 0;

        & g > g > g {
            fill: var(--antiflash-white);
        }
    }
}

@media screen and (max-width: 420px) {
    .projectItem__text div {
        max-width: 140px;
    }
}
