@import './../../colors.scss';

.wrapper{
  z-index: 999;
  color: $platinum;
  position: fixed;
  bottom: 6%;
  left: 50%;
  transform: translate(-50%, 0);
}

.menu{
  animation-name: menuLinks;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  font-family: 'Sulphur Point', sans-serif;
  letter-spacing: .2rem;
  padding-bottom: 1.4rem;
  color: $white;
}

.bottomBorder{
  position: absolute;
  width: 120%;
  left: -10%;
  transform-origin: 0%;
  animation-name: bottomBorder;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  border-bottom: 1px solid $grey_dark;
}

.borderBadge{
  opacity: .85;
  z-index: 10;
  position: absolute;
  width: 1.6rem;
  height: .8rem;
  bottom: -12%;
  left: -10%;
  background-color: $gold;
  //border-radius: 10%;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.navbarLink{
  cursor: pointer;
  opacity: .85;
  transition: transform .15s;

  &:hover{
    opacity: 1;
    transform: scale(1.03);
  }

  &:not(:first-child){
    margin-left: 2rem;
  }
}

//
//KEYFRAMES
//

@keyframes bottomBorder{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}

@keyframes menuLinks{
  from{
    transform: translate(0%, 30%);
    opacity: 0;
  }
  to{
    transform: translate(0%);
    opacity: 1;
  }
}

.router-link-active{
  color: $gold;
  font-weight: 700;
  opacity: 1;
}
