<div class="wrapper">
  <video src="./../../assets/Blurred Video of Scripts Being Typed.mp4" autoplay loop class="bgVideo"></video>

  <div class="projectsWrapper">
    <div class="borderHorizontal"></div>
    <div class="borderVertical"></div>
    <div class="projectsBackgroundColor"></div>

    <div class="projectsList">
      <div class="row">
        <div class="col col-md-6 col-sm-12 my-5">
          <div class="projectItem">
            <div class="projectItem__header">
              CloePMS
            </div>

            <div class="projectItem__body">
              <img src="./../../assets/cloe.png" class="projectItem__image">
            </div>

            <div class="projectItem__footer">
              <div class="d-flex">
                <span class="mx-3">
                  Angular
                </span>
                <span class="mx-3">
                  Sass
                </span>
                <span class="mx-3">
                  MongoDB
                </span>
              </div>
            </div>

          </div>
        </div>

        <div class="col col-md-6 col-sm-12 my-5">
          <div class="projectItem">
            <div class="projectItem__header">
              Project title
            </div>

            <div class="projectItem__body">
              <img src="./../../assets/coding-laptop.png" class="projectItem__image">
            </div>

            <div class="projectItem__footer">
              <div class="d-flex">
                <span class="mx-3">
                  Angular
                </span>
                <span class="mx-3">
                  Sass
                </span>
                <span class="mx-3">
                  MongoDB
                </span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-md-6 col-sm-12 my-5">
          <div class="projectItem">
            <div class="projectItem__header">
              Project title
            </div>

            <div class="projectItem__body">
              <img src="./../../assets/coding-laptop.png" class="projectItem__image">
            </div>

            <div class="projectItem__footer">
              <div class="d-flex">
                <span class="mx-3">
                  Angular
                </span>
                <span class="mx-3">
                  Sass
                </span>
                <span class="mx-3">
                  MongoDB
                </span>
              </div>
            </div>

          </div>
        </div>

        <div class="col col-md-6 col-sm-12 my-5">
          <div class="projectItem">
            <div class="projectItem__header">
              Project title
            </div>

            <div class="projectItem__body">
              <img src="./../../assets/cloe.png" class="projectItem__image">
            </div>

            <div class="projectItem__footer">
              <div class="d-flex">
                <span class="mx-3">
                  Angular
                </span>
                <span class="mx-3">
                  Sass
                </span>
                <span class="mx-3">
                  MongoDB
                </span>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
