<div class="wrapper">
  <div class="contactInfo">
    <div class="display-4 mb-5 title">Contáctame</div>
    <div class="contactBoxes">
      <div class="d-flex align-items-center mr-5 contactBox">
        <fa-icon
          [icon]="faEnvelope"
          size="2x"
          class="contactIcon mr-3"
        ></fa-icon>
        <div>
          <span class="h5">Envíame un correo</span>
          <div class="email">danielmomusic@gmail.com</div>
        </div>
      </div>

      <div class="d-flex align-items-center mt-4 mt-md-0 contactBox">
        <fa-icon
          [icon]="faWhatsappSquare"
          size="2x"
          class="contactIcon mr-3"
        ></fa-icon>
        <div>
          <span class="h5">Agregame en whatsapp</span>
          <div class="phone">311 4425541</div>
        </div>
      </div>
    </div>
  </div>
</div>
