:root {
    --text: #121212;
    --p: #2e2c2fff;
    --antiflash-white: #eff2f1;

    /* CSS HEX */
    --lavender-blush: #f5f5f5;
    --ash-gray: #bacdb0ff;
    --cambridge-blue: #729b79ff;
    --paynes-gray: #475b63ff;
    --raisin-black: #2e2c2fff;

    --peach-yellow: rgba(247, 219, 167, 1);
    --atomic-tangerine: rgba(241, 171, 134, 1);
    --brown-sugar: rgba(197, 123, 87, 1);
    --gunmetal: rgba(30, 45, 47, 1);
    --dark-green: rgba(4, 31, 30, 1);
}
