:root {
    --text: #121212;
    --p: #2e2c2fff;

    /* CSS HEX */
    --lavender-blush: #f5f5f5;
    --ash-gray: #bacdb0ff;
    --cambridge-blue: #729b79ff;
    --paynes-gray: #475b63ff;
    --raisin-black: #2e2c2fff;
}
