@import "./../../colors.scss";

.originalViewWrapper, .organizeButtons {
  @media (max-width: 992px) {
    display: none;
  }
}

.organizedViewWrapper {
  font-family: "Quicksand", sans-serif;
  position: absolute;
  color: $platinum;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: 992px) {
    width: 70%;
  }

  top: 12%;
  left: 50%;

  transform: translate(-50%, 0);
}

.col-12 > *{
  padding: .4rem 1rem;
  border-radius: 2%;
}

.general {
  animation-name: skillListIntro;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;

  background: linear-gradient(rgba($blue, .3), rgba($blue_light, .2));
}

.webBasic{
  animation-name: skillListIntro;
  animation-duration: 0.9s;
  animation-delay: .35s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;

  background: linear-gradient(rgba($red, .3), rgba($red_light, .2));
}

.frontEnd{
  animation-name: skillListIntro;
  animation-duration: 0.9s;
  animation-delay: .15s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;

  background: linear-gradient(rgba($cyan, .3), rgba($cyan, .2));
}

.backEnd{
  animation-name: skillListIntro;
  animation-duration: 0.9s;
  animation-delay: .45s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;

  background: linear-gradient(rgba($pink, .3), rgba($pink_light, .2));
}

.databases{
  animation-name: skillListIntro;
  animation-duration: 0.9s;
  animation-delay: .25s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;

  background: linear-gradient(rgba($green, .3), rgba($green_light, .2));
}

.other{
  animation-name: skillListIntro;
  animation-duration: 0.9s;
  animation-delay: .55s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;

  background: linear-gradient(rgba($grey, .3), rgba($grey_light, .2));
}

.skillsWrapper {
  position: absolute;
  color: $platinum;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 60%;

  top: 0%;
  left: 50%;
  @media (min-width: 1600px) {

    top: 12%;
  }

  transform: translate(-50%, 0);
  font-weight: 300;
}

.organizeButtons {
  position: absolute;
  top: 6%;
  right: 8%;

  & > * {
    cursor: pointer;
    color: $grey;

    &:hover {
      color: $platinum;
    }
  }
}

.bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: .15;
}

.skill {
  position: relative;
  font-family: "Quicksand", sans-serif;
  cursor: default;
  margin: 0 0.2rem;

  &:hover {
    color: $platinum;
  }

  animation-name: skillIntro;
  animation-duration: 0.85s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.skillContainer {
  @media (max-width: 768px) {
    flex-direction: column;
  }

  @media (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: -3rem;
    }
  }
}

.javascript {
  font-weight: 200;
  letter-spacing: -0.4rem;
  font-size: 7rem;
  color: $yellow_light;
}

.angular {
  font-size: 5rem;
  font-weight: 200;
  color: $green_light;
  letter-spacing: -0.4rem;
  animation-delay: 0.25s;
}

.react {
  color: $red_light;
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: 0.4rem;
  animation-delay: 0.35s;
}

.sass {
  color: $pink;
  font-size: 5rem;
  animation-delay: 0.45s;
}

.html {
  letter-spacing: -0.4rem;
  font-size: 3.4rem;
  animation-delay: 0.55s;
}

.css {
  font-weight: 500;
  font-size: 8rem;
  color: $grey_light;
  animation-delay: 0.15s;
}

.php {
  color: $cyan;
  font-size: 6.4rem;
  font-weight: 700;
  animation-delay: 0.65s;
}

.firebase {
  font-weight: 200;
  font-size: 3rem;
  color: $orange_light;
  animation-delay: 0.75s;
}

.npm {
  font-weight: 400;
  font-size: 6.6rem;
  color: $green;
  animation-delay: 0.85s;
}

.node {
  color: $blue_light;
  font-weight: 600;
  font-size: 2rem;
  animation-delay: 0.95s;
}

.express {
  color: $pink;
  font-size: 5rem;
  font-weight: 200;
  animation-delay: 1s;
}

.sql {
  color: $platinum;
  font-size: 6rem;
  animation-delay: 1.05s;
}

.mongo {
  letter-spacing: .25rem;
  font-size: 2rem;
  color: $grey;
  animation-delay: 1.15s;
  font-weight: 400;
}

.git {
  font-weight: 500;
  letter-spacing: .25rem;
  font-size: 1.4rem;
  color: $yellow_light;
  animation-delay: 1.25s;
}

.csharp {
  font-size: 4rem;
  animation-delay: 1.35s;
  font-weight: 600;
}

.java {
  font-size: 2.4rem;
  color: $red_light;
  animation-delay: 1.45s;
}

.uml {
  font-weight: 400;
  letter-spacing: .35rem;
  animation-delay: 1.55s;
  font-size: 1.2rem;
  color: $grey_light;
}

@keyframes skillIntro {
  from {
    opacity: 0;
    transform: translate(0, -15%);
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes skillListIntro {
  from {
    opacity: 0;
    transform: translate(0, 8%);
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
