@import "assets/css/mixins.scss";

.projects :global {
    max-width: 900px;
    width: 100%;
    animation: slide-right 0.85s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    z-index: 99;
}

.projects__list {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-height: 340px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 20px;
}

.projects h1 {
    text-align: left;
}

@media screen and (max-width: 992px) {
    .projects {
        align-self: flex-start;
    }
    .projects__list {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 680px) {
    .projects__list {
        margin-top: 20px;
    }
    .projects h1 {
        font-size: 28px;
        line-height: 32px;
    }
}
