$black: #000;
$black_light: rgb(14, 14, 14);

$grey: rgb(155, 155, 155);
$grey_dark: rgb(80, 80, 80);
$grey_light: rgb(192, 192, 192);

$white: #fff;

$gold: #ffd700;
$platinum: #e5e4e2;
$cyan: #60dbdb;

$blue: rgb(39, 68, 165);
$blue_dark: rgb(30, 51, 117);
$blue_light: rgb(70, 98, 190);

$yellow: rgb(185, 172, 51);
$yellow_dark: rgb(153, 142, 41);
$yellow_light: rgb(218, 205, 91);

$green: #59cd90;
$green_dark: rgb(60, 156, 105);
$green_light: rgb(114, 223, 165);

$red: #ff5e5b;
$red_dark: rgb(192, 72, 70);
$red_light: rgb(238, 118, 116);

$orange: #ff9b71;
$orange_dark: #ca734d;
$orange_light: #fda984;

$pink: #f374ae;
$pink_dark: #ca5b8d;
$pink_light: #fd90c1;

//SCROLLBAR

$scroll: rgb(112, 112, 112);
$scroll_hover: rgb(77, 77, 77);
