$black: #000;
$black_light: rgb(14, 14, 14);

$grey: rgb(155, 155, 155);
$grey_dark: rgb(80, 80, 80);
$grey_light: rgb(192, 192, 192);

$white: #fff;

$gold: #FFD700;
$platinum: #e5e4e2;

//SCROLLBAR

$scroll: rgb(112, 112, 112);
$scroll_hover: rgb(77, 77, 77);
