<div class="wrapper">
  <div class="intro">
    <div class="row">
      <div class="col-lg-4 d-flex align-items-center justify-content-center">
        <img src="./../../assets/me.jpg" class="mePhoto mb-5 mb-lg-0" alt="" />
        <!--<div class="mePhoto mb-5 mb-lg-0"></div>-->
      </div>
      <div class="col-lg-8">
        <div class="introText">
          <div class="display-4 helloWorld">
            Hola Mundo!
          </div>

          <div class="mt-4 presentationText">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Reprehenderit doloribus, iusto necessitatibus asperiores fugiat sed
            qui voluptatibus rerum obcaecati laboriosam rem voluptas vero
            nostrum sit enim ex numquam nesciunt deleniti. Lorem ipsum dolor sit
            amet, consectetur adipisicing elit. Repellat dolor ullam commodi
            nesciunt vero, optio excepturi voluptatem eligendi expedita, sequi
            inventore culpa natus earum iusto ipsa! Amet, porro. Praesentium,
            quis. sit enim ex numquam nesciunt deleniti. Lorem ipsum dolor sit
            amet, consectetur adipisicing elit. Repellat dolor ullam commodi
            nesciunt vero, optio excepturi voluptatem eligendi expedita, sequi
            inventore culpa natus earum iusto ipsa! Amet, porro. Praesentium,
            quis.
          </div>
        </div>

        <div class="socialMediaIcons">
          <div class="d-flex mt-4">
            <a
              href="https://github.com/danielpik18"
              class="socialMediaIcon"
              target="_blank"
            >
              <fa-icon [icon]="faGithub" size="lg"></fa-icon>
            </a>

            <a
              href="https://www.linkedin.com/in/daniel-mantilla-ochoa-ba5443129/"
              class="socialMediaIcon"
              target="_blank"
            >
              <fa-icon [icon]="faLinkedin" size="lg"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
