@import './../../colors.scss';

.wrapper{
  background-image: linear-gradient(to bottom, rgba($black_light, .98),rgba($black_light, .92)), url('./../../assets/coding-laptop.png');
  background-size: cover;
  color: $platinum;
  height: 100vh;
}

.intro{
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation-name: intro;
  animation-duration: 1.4s;
  -moz-animation-timing-function: ease-in-out;
}

@keyframes intro{
  from{
    opacity: 0;
    transform: translate(-55%, -50%);
  }
  to{
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
