<div class="wrapper">
  <div class="colorWall"></div>

  <div class="intro">
    <div class="mePhoto mb-5 mb-lg-0"></div>

    <div class="introText d-flex flex-column">
      <div style="display: inline-flex;">
        <h1 class="display-4 helloWorld">&#60;Hola Mundo! &#47;&#62;</h1>
      </div>

      <div class="mt-3 presentationText">
        <p>Mi nombre es Daniel Mantilla. Soy un desarrollador web basado en Colombia.</p>

        <small style="font-weight: bold;">Acerca de mi:</small>

        <p>
          Soy una persona altamente creativa e
          independiente, presto mucha atención a los detalles y me gusta realizar mi trabajo de forma organizada y
          sistemática. Estoy constantemente aprendiendo nuevas cosas y refinando mi propia competencia para poder desempeñarme
          a niveles cada vez más altos en los proyectos en los que trabajo.
        </p>
      </div>

      <div class="socialMediaIcons">
        <div class="d-flex mt-4">
          <a href="https://github.com/danielpik18" class="socialMediaIcon" target="_blank">
            <i class="fab fa-github" style="font-size: 1.4rem;"></i>
          </a>

          <a href="https://www.linkedin.com/in/daniel-mantilla-ochoa-ba5443129/" class="socialMediaIcon"
            target="_blank">
            <i class="fab fa-linkedin" style="font-size: 1.4rem;"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
