@import "assets/css/mixins.scss";

.aboutMe :global {
    max-width: 600px;
    animation: slide-right 0.85s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    z-index: 99;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.aboutMe__sides {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    gap: 40px;
}

.aboutMe__left img {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    box-shadow: 6px 7px 20px 0px var(--paynes-gray);
}

.aboutMe__right {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}

.aboutMe__right p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.03px;
    font-weight: 300;
}

.aboutMe__right p > strong {
    font-size: 18px;
    font-weight: 600;
}

.aboutMe__right p > img {
    max-width: 20px;
    margin-bottom: -4px;
}

.helloWorld {
    @include title;

    width: 0%;
    max-width: 300px;

    white-space: nowrap;
    overflow: hidden;
    border-right: 0.12em solid var(--cambridge-blue);

    animation: typing 1s steps(24, end) 0.6s both,
        blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: var(--cambridge-blue);
    }
}

@media screen and (max-width: 680px) {
    .aboutMe__sides {
        grid-template-columns: 1fr;
    }

    .helloWorld {
        font-size: 30px;
        line-height: 34px;
        max-width: 240px;
    }
}
